body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    background-color: #f4f4f9;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 60px;
    background: linear-gradient(to right, #4B0082, #5E3AEE);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    height: 100vh;
    overflow: auto;
}

.sidebar .logo {
    width: 80px;
    height: 50px; 
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo img {
    max-width: 100%;
    height: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: center;
    text-align: center;
}

.sidebar ul li {
    margin: 50px 0;
}

.sidebar ul li button {
    background: linear-gradient(to right, #b995d4, #ab00f4);
    border: none;
    border-radius: 50%;
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar ul li button:hover {
    background: linear-gradient(to right, #1F1F3D, #1E1E35);
}

.sidebar ul li button img {
    width: 20px;
    height: 20px;
}

/* Dashboard */
.content {
    margin-left: 30px;
    margin-top: -40px;
    width: calc(100% - 60px);
    padding: 40px;
    background-color: #ffff;
    height: 100vh;
    overflow-y: auto;
}

.content h1 {
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.chart-box {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100%;
    height: 100%;
}

